In [3]:
import os
import numpy as np 
import pandas as pd

In [4]:
data = pd.read_csv('framingham.csv',delimiter=',')
data1 = pd.read_csv('cardio_train.csv',delimiter=';')

In [ ]:
data.head()

In [ ]:
data1.head()

In [5]:
dic_data1 = dict(data1)

data = data.assign(gender=dic_data1['gender'])
data = data.assign(height=dic_data1['height'])
data = data.assign(weight=dic_data1['weight'])
data = data.assign(ap_hi=dic_data1['ap_hi'])
data = data.assign(ap_lo=dic_data1['ap_lo'])
data = data.assign(alco=dic_data1['alco'])
data = data.assign(active=dic_data1['active'])

data.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,...,heartRate,glucose,TenYearCHD,gender,height,weight,ap_hi,ap_lo,alco,active
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,...,80.0,77.0,0,2,168,62.0,110,80,0,1
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,...,95.0,76.0,0,1,156,85.0,140,90,0,1
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,...,75.0,70.0,0,1,165,64.0,130,70,0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,...,65.0,103.0,1,2,169,82.0,150,100,0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,...,85.0,85.0,0,1,156,56.0,100,60,0,0

In [6]:
data = data.fillna(0)
data = data[:4000]
data.reset_index().to_csv('lab7.csv', header=True,index=False)